@import "./variables";

* {
  box-sizing: border-box;
  &:active, &:hover, &:focus {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
  }
}

html {
  font-size: $font-size-base;
  font-family: "Source Sans Pro", sans-serif;
  color: $base-font-color;
  scroll-behavior: smooth;
  background-color: $color-primary-light;
}

body,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding-left: 1.2rem;
}

a {
  text-decoration: none;
}

p {
  display: block;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
