$overflowed-z-index: 5;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-xl: 24px;

$base-font-color: #180927;
$base-font-color-opacity: #18092781;


// COLORS
$color-primary: #272a3a;
$color-primary-light: rgb(253, 252, 246);


$color-secondary-light: #f5f5f7;
$color-secondary-dark: rgb(128, 126, 126);


$white: #fff;
$black: #000;

