$overflowed-z-index: 5;
$font-size-base: 16px;
$font-size-lage: 20px;
$font-size-xl: 28px;

$base-font-color: #551a8b;


$main-section-background-color:rgb(49, 58, 90);

// COLORS
$color-primary: #272a3a;
$color-primary-light: rgb(253, 252, 246);


$color-secondary-light: #f5f5f7;
$color-secondary-dark: rgb(128, 126, 126);


$white: #fff;
$black: #000;

