@import '../../styles/core';

.header {
  margin: 0 auto;
  position: relative;
  background-color: $color-primary-light;
  font-size: $font-size-large;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  padding-top: 25px;
  & li {
    margin: 0 20px;
  }
  &__list {
    max-width: 600px;
    color: $color-secondary-dark;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include sm {
      display: none;
    }
  }
  & h3 {
    padding-left: 20px;
  }
}
